.main{
  background: url('../../../../assets/images/admin-background');
}
table {
  border-collapse: collapse;
  border-spacing: 5;
  width: 30%;
  border: 1px solid #ddd;
  margin-left: auto;
  margin-right: auto;
}
h1{
  text-align: center;
  color: chocolate;
}
th, td {
  text-align: left;
  padding: 16px;
  color: white;
}


.btn
{
  font-size: .9em;
  color: #fff;
  background: #76b852;
  outline: none;
  border: 1px solid #76b852;
  cursor: pointer;
  padding: 0.5em;
  text-align: center;
  width: 50%;
  margin: 0.5em 0;
  letter-spacing: 4px;
}

