table {
  border-collapse: collapse;
  border-spacing: 5;
  width: 100%;
  border: 1px solid #ddd;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  text-align: left;
  padding: 16px;
  border-collapse: separate;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
.button{
  text-align: center;
}
.order{
  text-align: center;
}
