<div class="about-section">
  <h1>About Us </h1>
  <br> <strong>   
  <p style =  " color: rgb(13, 13, 14); "><i><b> "We Shop.. We Deliver.. You Relax.." </b></i></p>
  <p style = " color: greenyellow;"> <i><b>"A GROCERY Brand For Every HOME.."</b> </i></p> 
</strong> 
</div>
<div class="welcome py-sm-5 py-4">
  <div class="container py-xl-4 py-lg-2">
    <!-- //tittle heading -->
    <div class="row">
      <h3 style="color:#af3131;">About Store</h3>
      <div class="col-lg-6 welcome-left">
        <h4 class="my-sm-3 my-2"> Fresh-Mart is a low-price online Grocery store, which has many vital ranging products consumed in our everyday Breakfast, Meals & Dinners. We have Fresh Vegetables, Staples, Beverages, Personal care products & many other products needed daily. All the products on our
         website are distinguished based on their categories, which gives you the hassle-free shopping experience ever with minimum time spent for your shopping.</h4>
      </div>

      <div class="col-lg-6 welcome-right-top mt-lg-0 mt-sm-5 mt-4">
        <img src="../../../assets/images/GroceryStore.jpg" class="img-fluid" alt=" ">
      </div>
      <div class="welcome-left">
        <br><br><h3 class="text-left" style="color:#af3131;">&ensp;What We Do</h3>
        <h4 class="my-sm-3" style="margin-left:15px;">We guarantee you the best quality products with the lowest price. Right now we only serve you in Thane. To have a more convenient shopping experience, for you we deliver your selected products at your doorstep at your selected time slot. As in today's era every person sense short in time & also its hard to find if the consumable products are healthy/natural. So to tackle this issue we serve you with the finest & hand-picked products from all the categories,
        to save your time from the conventional shopping as well as
         from the problems like getting stuck in long queues, the parking fees to be paid, carrying you heavy shopping bags & etc.</h4>
      </div>
      <div class="welcome-left">
        <br><br><h3 class="text-left" style="color:#af3131;">&ensp;Our Vision</h3>
        <h4 class="my-sm-3" style="margin-left:15px;">
        <li>Redefining India's freshest and finest food experience by 2022.</li>
        <li>To provide a brighter customer experience with an assortment of finest local and international foods and highest level of service. </li>
        <li>To spread the joy of food.</li>
        </h4>
      </div>
    </div>
  </div>
</div>
<div class="team">
<h3 style="text-align:center; padding: 50px; background-color: black;color:white">Our Team</h3>

<div class="row">
  <div class="column">

     <div class="container">
        <h2>AILI GANESH</h2>
        <p class="title">Team Member</p>
        <p>ganeshaili.uk@gmail.com</p>
        <p><button class="button"><a style="color:white;text-decoration: none" href="mailto:ganeshaili.uk@gmail.com">Contact</a></button></p>

    </div>
  </div>

  <div class="column">

      <div class="container">
        <h2>KALYANI SIMMA </h2>
        <p class="title">Team Member</p>
        <p>kalyanisimma96@gmail.com</p>
        <p><button class="button"><a style="color:white;text-decoration: none" href="mailto:kalyanisimma96@gmail.com">Contact</a></button></p>

    </div>
  </div>

  <div class="column">

      <div class="container">
        <h2>MUNNAZA FATIMA SAYED</h2>
        <p class="title">Team Member</p>
        <p>munnaza02@gmail.com</p>
        <p><button class="button"><a style="color:white;text-decoration: none" href="mailto:munnaza02@gmail.com">Contact</a></button></p>

    </div>
  </div>
  <div class="column">

      <div class="container">
        <h2>RESHAM KANHERE</h2>
        <p class="title">Team Member</p>
        <p>reshamkanhere99@gmail.com</p>
        <p><button class="button"><a style="color:white;text-decoration: none" href="mailto:reshamkanhere99@gmail.com">Contact</a></button></p>

    </div>
  </div>
  <div class="column">

      <div class="container">
        <h2>YOGINI KOTTEWAR</h2>
        <p class="title">Team Member</p>
        <p>yoginikottewar9@gmail.com</p>
        <p><button class="button"><a style="color:white;text-decoration: none" href="mailto:yoginikottewar9@gmail.com">Contact</a></button></p>

    </div>
  </div>
</div>
</div>
